<!DOCTYPE html>

<html>
{%include "nav.html"%}

<head>

  {%include "bootstrap.html"%}
  {% load static %}
  <link rel="stylesheet" href="{%static 'organizer.css' %}" />
</head>

<body>
  <title>About </title>
<h1> The Boys </h1>
  <p>
    This site was created by Jordan Silva, Keoni Burns, and Travis Kroll with the goal of organizing all our school work in a
    single place.
    We learned everything needed for this website in Web Development at Chico State.

    our program is a basic scheduler that allows the user to add tasks such as hw, meetings, etc. Additionally we have
    implemented a blog post
    where students may look for study groups.

  </p>
  <h1>
    <img src="{% static "/imgs/boys" %}" alt="The Boys" style="width: 600px; height: auto;">
  </h1>
</body>

</html>
