<!DOCTYPE html>

<html>
{%include "nav.html"%}
<head>

    {% load static %}
    <link rel="stylesheet" href="{%static 'organizer.css' %}"/>
    {%include "bootstrap.html"%}
</head>
<body>
  <title>About </title>
<h1>
    About
</h1>
<p>
  This site was created by Jordan Silva, Keoni Burns, and Travis Kroll. We wanted to organize all our school work in a single place.
  We learned everything needed for this website in Web Development at Chico State.  

 </p>
 <h1>
    <img src= "{% static "/imgs/boys" %}" alt="my photo" style = "width: 600px; height: auto;">
 </h1>
</body>
</html>
