<!DOCTYPE html>

<html></html>
{%include "nav.html"%}
<head>
    {% load static %}
    <link rel = "stylesheet" href = "{%static 'board.css' %}"/>
    {%include "bootstrap.html"%}
</head>

<h1>
    about
</h1>
<p>
    My name is keoni burns and I am a computer science student at CSU Chico. I am from San Mateo and 
    eventually I want move back to the bay for work. I have four siblings and one day I hope that I can 
    share my love for computer science with them.
    I enjoy playing my guitar, writing code, and working out. I also love the outdoors and hiking! 
    I aspire to one day work for a FANG company, but also any software engineering job would be great.

 </p>
 <p>
    <img src= "../../static/IMG/myPhoto.JPEG" alt="my photo" style = "width: 600px; height: auto;">
 </p>
