<html>
  <head>
    <meta charset="utf-8">
    <title>Looking for Group</title>
    {% include "bootstrap.html" %}
    {% load crispy_forms_tags%}
      {% load static %}
    <script src="{% static 'tasks.js' %}"></script>
  </head>
  <body>
    {% include "nav.html" %}
    <div class="jumbotron">
      <h1>Looking for Group Posts</h1>
      {% if not table_data %}
    </p>You have no looking for group posts.</p>
      {% else %}
    <table class="table table-striped" border="1">
      <tr>
        <th>Category</th>
        <th>Assignment</th>
        <th>Description</th>
        <th>Location</th>
        <th>Contact</th>
       </tr>
       {% for row in table_data %}
          <tr>
          <td>{{ row.category }}</td>
          <td>{{ row.assignment }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.location }}</td>
          <td>{{ row.contact }}</td>
          <td>
            <a class="btn btn-primary" href="/LFG/edit/{{ row.id }}/">Edit</a>
            <a class="btn btn-primary" href="#" onclick= "confirmDeleteModal( {{row.id}})">Delete</a>
            </td>
          </tr>
        {% endfor %}
          </table>
        {% endif %}
      <form method="GET" action="/LFG/add/">
        <input type="submit" class="btn btn-primary" value ="Create Looking For Group Post">
      </form>
    </div>

    <!-- Delete Modal -->
    <div id="deleteModal" class="modal fade" role='dialog'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Delete LFG Entry</h4>
          </div>
          <div class="modal-body">
            <p>Do you really want to delete this LFG Entry?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <span id= 'deleteButton'></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
