/* type selector (all input tags) */
th:not(.haha){
  background-color: #576f72;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

.btn-primary{
  background-color: 497174;
  border: 2px solid #3f4e4f;
}

.btn-primary:hover{

}

 td {
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

tr:hover {background-color: #497174;}

.btn-link{
  color: #000000;
  text-align: center;

  font-size: 24px;
}

h1 {
  font-weight: bold;
  color: #282A3A;
  font-size: 50px;
  text-align: center; }

body {
  background-image: url("imgs/BG.jpg");
  /*background-image: url("imgs/meme.png");*/
  background-color: #cccccc;
}

table{
  background-color: silver;
}

.jumbotron {
  background-color: silver;
}

.card {
  background-color: silver;
}

.jumbotron p {font-size:27px; }

p { font-size: 27px;}
