<html>

<head>
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{%static 'organizer.css' %}"/>
  <link href="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.css"
    rel="stylesheet" />
</head>

<body>
  {% include "nav.html" %}
  <div style="display: flex; justify-content: space-around; padding: 5px;">
    <div id="calendarContainer" style="display: inline-block;"></div>
    <div id="organizerContainer" style="display: inline-block;">
    </div>
  </div>
  <br>
  <div style="display: flex; justify-content: flex-start; flex-direction: column;">
    <form method="GET" action="/td_calendar/newEvent">
      <input type="submit" class="btn btn-primary" value="add new event" style="margin-left: 10px; margin-right: 10px;">
    </form>
    <!-- <button class="btn btn-primary" style="margin-left: 10px; margin-right: 10px;">Add Event</button> -->
  </div>



  <!-- Stick script at the end of the body -->
  <script src="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.js"></script>
  <script src="{% static 'td_calendar.js' %}"></script>
  <script>
  var data = JSON.parse('{{ cal|escapejs }}');
  var organizer = new Organizer("organizerContainer", // Organizer container id                      Required
      calendar,             // Calendar item                               Required
      data);
  </script>
</body>

</html>
